body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}
  
a {
    text-decoration: none;
}

.container1 {
    max-width: 100%;
    width: 98%;
    overflow: hidden;
    position: relative;
}

.container2 {
  max-width: 100%;
  width: 98%;
  overflow: hidden;
  position: relative;
}

.container3 {
  max-width: 100%;
  width: 98%;
  overflow: hidden;
  position: relative;
}

.container4 {
  max-width: 100%;
  width: 98%;
  overflow: hidden;
  position: relative;
}
  
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top.png);
    background-size: cover;
    color: white;
    text-align: center;
}
  
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
}
  
.top-wrapper p {
    opacity: 0.7;
}
  
.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}
  
.btn-wrapper p {
    margin: 10px 0;
}
  
.signup {
    background-color: #239b76;
}
  
.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}
  
.twitter {
    background-color: #55acee;
}
  
.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
  
.btn:hover {
    opacity: 1;
}
  
.fa {
    margin-right: 5px;
}
  
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
}
  
.logo {
    width: 124px;
    margin-top: 5px;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    margin-right: -5px;
}
  
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
  
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
  
.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}
  
.heading {
    padding-top: 80px;
    padding-bottom: 150px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
}
  
.lesson {
    float: left;
    width: 25%;
}
  
.lesson-icon {
    position: relative;
}
  
.lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
}
  
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
}
  
.heading h3 {
    font-weight: normal;
}
  
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
  
.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}
  
.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}
  
footer img {
    width: 125px;
}
  
footer p {
    color: #b3aeb5;
    font-size: 12px;
}
  
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.carousel {
    width: 80%;
    margin: 16px auto;
}
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
}
  
li {
    height: 100%;
    min-width: 100%;
}
  
li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
  
#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 24px;
    padding: 0 8px 4px;
    cursor: pointer;
}
  
#prev:hover,
#next:hover {
    opacity: .8;
}
  
#prev {
    left: 0;
}
  
#next {
    right: 0;
}
  
.hidden {
    display: none;
}
  
nav {
    margin-top: 16px;
    text-align: center;
}
  
nav button + button {
    margin-left: 8px;
}
  
nav button {
    border: none;
    width: 16px;
    height: 16px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
}
  
nav .current {
    background: #999;
}