.person > div {
    background-color: #fff59d;
    background-repeat: repeat-x;
    background-position: center bottom;
    text-align: center;
    border-radius: 16px;
}

.person > h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 20px;
}

#open, #close, #btn {
    cursor: pointer;
    background-color: #b1b1b1;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 0;
    text-align: center;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

#modal {
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -500px);
}

li {
    list-style: none;
}

h1 {
    text-align: center;
}

